$item-size: 50px;

.ground {
  flex-shrink: 0;
  width: $item-size;
  height: $item-size;
  background-color: rgb(222, 184, 135);
}

.air {
  flex-shrink: 0;
  width: $item-size;
  height: $item-size;
  background-color: rgb(135, 206, 250);
}

.wall {
  flex-shrink: 0;
  width: $item-size;
  height: $item-size;
  background-color: rgb(128, 128, 128);
}

.player {
  position: absolute;
  left: 200px;
  top: 400px;
  width: 80px;
  height: 96px;
  overflow: hidden;
  z-index: 800;

  &__img-right, &__img-left {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.coin {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: yellow;
  border-radius: 50%;
}

.game-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: rgba(255, 0, 0, .7);
  z-index: 900;
}

.finish {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: rgba(60, 179, 113, .7);
  z-index: 900;
}
