$item-size: 50px;

.ground {
  flex-shrink: 0;
  width: $item-size;
  height: $item-size;
  background-color: rgb(222, 184, 135);
}

.air {
  flex-shrink: 0;
  width: $item-size;
  height: $item-size;
  background-color: rgb(135, 206, 250);
}

.wall {
  flex-shrink: 0;
  width: $item-size;
  height: $item-size;
  background-color: rgb(128, 128, 128);
}

.player {
  position: absolute;
}
